{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-return-assign": ["error", "except-parens"]
  }
}
