* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'League Gothic', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
}

:root {
  --border-color: #5e636d;
  --header-color: #373739;
  --header-bg: #f6f6f6;

  --bg-container: white;

  --lines: #f2f3f4;

  --white: #fff;

  /* General Gameboard */
  --text-color: #a2a6b6;
  --buttons-title: #878c9a;

  /* Player GameBoard */
  --circle-hit: #ff0056;
  --circle-miss: #62c6ff;

  --ship-bg: rgb(221, 221, 236, 0.5);
  --placed-ship-bg: #d1d1df;
  --circle-ship: #bcbdc8;

  --cell-bg: #d4f0ff;

  /* AI GameBoard */
  /*--circle-hit: #ff0056;*/
  --circle-miss: #909292;

  --cell-bg-ai: #dbdada;
}

body {
  height: 100%;
  width: 100%;

  font-family: 'Poppins', sans-serif;
  font-weight: normal;

  background: url(./assets/background.jpg) top no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

.container {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);

  height: 80%;
  width: 65%;

  border-radius: 20px;
  border: 12px solid var(--border-color);
  background-color: var(--white);

  overflow: hidden;
}

header {
  height: 8%;

  background-color: var(--header-bg);

  border-bottom: 1px solid var(--lines);
}

.logo-container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 1.4rem;
}

.logo-container p {
  font-family: 'League Gothic', sans-serif;
  font-weight: bolder;
  font-size: 1.8rem;

  color: var(--header-color);
}

main {
  height: 92%;
}

.game-container {
  height: 100%;

  display: flex;
  gap: 4rem;

  padding: 3rem;
}

.toggle-direction {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  position: absolute;
  border: none;
  border-radius: 5px;
  background-color: var(--ship-bg);

  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: var(--border-color);

  white-space: nowrap;
  padding: 0.4rem 1.2rem;
}

.toggle-button:last-of-type {
  bottom: 0;
}

.line {
  flex: 1;
  width: 2px;
  background-color: var(--lines);
}

.gameboard-container {
  flex: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.owner {
  height: 5%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.owner button {
  border: none;
  border-radius: 0.2rem;

  background-color: var(--circle-hit);
  padding: 0.3rem 0.9rem;
  margin-left: 2rem;

  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  color: var(--white);
  letter-spacing: 1px;
}

.gameboard {
  height: 75%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard-grid-container {
  height: 27rem;
  width: 27rem;

  display: grid;
  grid-template-columns: 2rem auto;
  grid-template-rows: 2rem auto;
}

.horizontal-letters {
  list-style: none;
  grid-column: 2 / -1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: 0.2rem;
}

.vertical-letters {
  list-style: none;
  grid-row: 2 / -1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.letter {
  height: 100%;
  width: 2.25rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.gameboard-grid {
  display: grid;
  gap: 0.2rem;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  padding: 0.2rem;
}

.cell {
  border-radius: 5px;
  border: none;
  background-color: var(--cell-bg);
}

.cell::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 1rem;
  background-color: var(--circle-hit);
}

.cell:hover {
  background-color: rgb(183, 231, 255);
}

.ai-grid .cell {
  background-color: var(--cell-bg-ai);
}

.ai-grid .cell:hover {
  background-color: rgb(207, 207, 207);
}

.ships {
  height: 20%;

  text-align: center;
}

.ships-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  row-gap: 0.6rem;
  column-gap: 1.2rem;

  margin-top: 0.4rem;
}

.ship {
  height: 2.25rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 0.8rem;

  background-color: var(--ship-bg);
}

.circle-ship {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 0.4rem;
  background-color: var(--circle-ship);
}

.carrier {
  width: 11.25rem;
}

.battleship {
  width: 9rem;
}

.cruiser,
.submarine {
  width: 6.75rem;
}

.destroyer {
  width: 4.5rem;
}
