* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'League Gothic', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
}

:root {
  --border-color: #5e636d;
  --header-color: #373739;
  --header-bg: #f6f6f6;

  --bg-container: white;

  --lines: #f2f3f4;

  /* General Gameboard */
  --text-color: #a2a6b6;
  --buttons-title: #878c9a;

  /* Player GameBoard */
  --circle-hit: #ff0056;
  --circle-miss: #62c6ff;

  --placed-ship-bg: #d1d1df;
  --circle-ship: #bcbdc8;

  --cell-bg: #dff4ff;

  /* AI GameBoard */
  /*--circle-hit: #ff0056;*/
  --circle-miss: #909292;

  --cell-bg-ai: #ebebeb;
}

body {
  height: 100%;
  width: 100%;

  background: url(./assets/background.jpg) top no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

.container {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);

  height: 80%;
  width: 65%;

  border-radius: 20px;
  border: 12px solid var(--border-color);
  background-color: var(--bg-container);

  overflow: hidden;
}

header {
  height: 8%;

  background-color: var(--header-bg);

  border-bottom: 1px solid var(--lines);
}

.logo-container {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 1.4rem;
}

.logo-container p {
  font-family: 'League Gothic', sans-serif;
  font-weight: bolder;
  font-size: 1.8rem;

  color: var(--header-color);
}

main {
  height: 92%;
}

.game-container {
  height: 100%;

  display: flex;
  gap: 3rem;

  padding: 3rem;
}

.line {
  height: 100%;
  width: 2px;
  background-color: var(--lines);
}

.gameboard-container {
  border: 1px solid black;
  flex: 1;
  height: 100%;
}

.owner {
  border: 1px solid black;
  height: 5%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.8rem;
}

.owner button {
  display: block;

  border: 1px solid black;
  border-radius: 0.2rem;

  background-color: none;
  height: 100%;
  padding-inline: 1rem;
}

.gameboard {
  border: 1px solid black;
  height: 75%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard-grid-container {
  border: 1px solid black;
  height: 27rem;
  width: 27rem;

  display: grid;
  grid-template-columns: 2rem auto;
  grid-template-rows: 2rem auto;
}

.horizontal-letters {
  border: 1px solid black;
  list-style: none;
  grid-column: 2 / -1;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vertical-letters {
  list-style: none;
  grid-row: 2 / -1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.letter {
  font-size: 1.4rem;
}

.gameboard-grid {
  border: 1px solid black;

  display: grid;
  gap: 0.2rem;

  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  padding: 0.2rem;
}

.cell {
  border: 1px solid black;
}

.ships {
  border: 1px solid black;
  height: 20%;

  text-align: center;
}

.ships-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  row-gap: 0.6rem;
  column-gap: 1.2rem;

  margin-top: 0.4rem;
}

.ship {
  height: 2.25rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 1px solid black;
  border-radius: 0.8rem;
}

.circle-ship {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid black;
}

.carrier {
  width: 11.25rem;
}

.battleship {
  width: 9rem;
}

.cruiser,
.submarine {
  width: 6.75rem;
}

.destroyer {
  width: 4.5rem;
}
